@external .gwtTouch-*;

/** CSS Style for the FormView **/

.gwtTouch-MenuLayout {
	border: 1px solid rgb(184, 187, 191);
	border-radius:5px;	
	-webkit-border-radius:5px;
	background-color:#FFF;
	box-shadow: 1px 1px #FFF;
	margin-bottom: 25px !IMPORTANT;
}

.gwtTouch-FieldTextItem {
	display:block;
	border-top:1px solid rgb(184, 187, 191);
	padding:10px 10px !IMPORTANT;
	font-weight:bold;
	font-size:16px;
	position:relative;
}

.gwtTouch-FieldButtonItem:first-child,
.gwtTouch-FieldTextItem:first-child {
	border-top:1px solid transparent !IMPORTANT;
}


.gwtTouch-FieldCheckItem {
	position:relative;
	overflow:hidden;
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	right:10px;
}

.gwtTouch-FieldCheckItem input[type="radio"],
.gwtTouch-FieldCheckItem input[type="checkbox"] {
	-khtml-appearance: none;
	-webkit-appearance: none;
	border:0px;
	background-color:transparent;
	z-index:1;
	position: absolute;
	width:100%;
	height:100%;
	color:#FFF;
	-webkit-touch-callout:none;
}

@sprite .gwtTouch-FieldCheckItem input[type="radio"]:checked,
.gwtTouch-FieldCheckItem input[type="checkbox"]:checked {
	background-color:transparent;
	width: 100%;
	height: 100%;
	color:#FFF;
	-khtml-appearance: none;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	background-position: right 50%;
	border:0px;
	gwt-image: 'checkmark';
}






/** Radio Menu Item **/


/** Check Menu Item **/


/** Switch Menu Item **/

.gwtTouch-SwitchMenuItem {
	position:relative;
	overflow:hidden;
	display:block;
	position:absolute;
	top:7px;
	right:5px;
	width:95px;
	height:27px;
}

@sprite 
.gwtTouch-SwitchMenuItem input[type="checkbox"] {
	background-color:transparent;
	width: 95px;
	height: 27px;
	color:#FFF;
	-khtml-appearance: none;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	gwt-image: 'switchOff';
	border:0px;
}

@sprite 
.gwtTouch-SwitchMenuItem input[type="checkbox"]:checked {
	background-color:transparent;
	width: 95px;
	height: 27px;
	color:#FFF;
	-khtml-appearance: none;
	-webkit-appearance: none;
	background-repeat: no-repeat;
	gwt-image: 'switchOn';
	border:0px;
}

/** OneLine Menu Item **/

.gwtTouch-OneLineMenuItem {
	display:block;
	border-top:1px solid rgb(184, 187, 191);
	padding:10px 10px !IMPORTANT;
	font-weight:bold;
	font-size:16px;
	position:relative;
}

.gwtTouch-OneLineMenuItem:first-child {
	border-top:0px;	
}

.gwtTouch-OneLineMenuItem-TextLabel {

}

.gwtTouch-OneLineMenuItem-SubTextLabel {
	float:right;
	color: rgb(59,68,90);
	font-weight:normal;
	font-size:16px;
	padding-right:3px !IMPORTANT;
	padding-top:1px !IMPORTANT
}

@sprite .gwtTouch-MenuItem-Chevron {
	gwt-image: 'chevron';
	background-repeat: no-repeat;
	background-position: right 50%;
	width:auto;
	height:auto;
}

@sprite .gwtTouch-MenuItem-Checkmark {
	gwt-image: 'checkmark';
	background-repeat: no-repeat;
	background-position: right 50%;
	width:auto;
	height:auto;
}

@sprite .gwtTouch-MenuItem-Disclosure {
	gwt-image: 'disclosure';
	background-repeat: no-repeat;
	background-position: right 50%;
	width:auto;
	height:auto;
}

.gwtTouch-MenuItem-Checkmark .gwtTouch-OneLineMenuItem-SubTextLabel,
.gwtTouch-MenuItem-Chevron .gwtTouch-OneLineMenuItem-SubTextLabel {
	padding-right:25px !IMPORTANT;
}

.gwtTouch-MenuItem-Disclosure .gwtTouch-OneLineMenuItem-SubTextLabel {
	padding-right:45px !IMPORTANT;
}

/** TwoLine Menu Item **/

